<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Work from Cafes</title>
</head>
<body>
    <nav class="nav-content">
        
        <a href="" class="navbar-brand">Remote Work Friendly</a>
        <ul class="navbar-items">
            <ul class="nav-items">
            <li class="nav-item"><a href="">Search City</a></li>
            <li class="nav-item"><a href="">Add cafe</a></li>
            <li class="nav-item"><a href="">Join Community</a></li>
        </ul>
    </nav>
{% block content %}

{% endblock%}
</body>
</html>